* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.description {
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

button {
  border-radius: 20px;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: #000;
  cursor: pointer;
  padding: 10px 25px;
  margin: 10px auto 0;
}

button:active {
  opacity: 0.8;
}

#day {
  background: linear-gradient(
    to bottom,
    rgb(56, 189, 248),   
    rgb(147, 197, 253),
    rgb(254, 243, 199)  
  );
  color: #000
}

#night {
  background: linear-gradient(
    to bottom,
    rgb(30, 27, 75),    
    rgb(88, 28, 135),  
    rgb(49, 46, 129)    
  );
  color: #fff
}

.circle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: fixed;
}

#sun {
  background-color: #FFF57B;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#moon {
  background-color:#E2E8F0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cloud-shape {
  height: 100px;
  aspect-ratio: 1.8;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  background: white;
}

.star-shape {
  width: 100px;  
  aspect-ratio: 1;
  background: #F8CA00;
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
}

.cloud, .star {
  display: inline-block;
  position: relative;
}

.cloud p, .star p {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  text-align: center;
  pointer-events: none;
}

.star p {
  top: 100%;
  left: 50%;
}

.cloud:hover p, .star:hover p {
  opacity: 1;
  visibility: visible;
}

.toggle {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  opacity: 1;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 15px 30px;
  width: 500px;

  display: relative;
  align-items: center;
}

.modal-content h2 {
  color: #000;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px 10px;
}

.modal-content p {
  color: #000;
  line-height: 24px;
  margin: 10px 0;
  text-align: left;
}

.modal-content ul, .modal-content ol {
  color:black;
  padding: 0 20px;
  margin: 10px 0;
}

.modal-content li {
  padding: 5px 10px;
  list-style-type: circle;
}

.cloud:nth-child(1) { 
  position: absolute;
  top: 70%;
  left: 15%; 
}

.cloud:nth-child(2) {
  position: absolute;
  top: 25%;
  left: 70%; 
}

.cloud:nth-child(3) {
  position: absolute;
  top: 40%;
  left: 30%; 
}

.star:nth-child(1) { 
  position: absolute;
  top: 70%;
  left: 15%; 
}

.star:nth-child(2) {
  position: absolute;
  top: 25%;
  left: 70%; 
}

.star:nth-child(3) {
  position: absolute;
  top: 40%;
  left: 30%; 
}