/* Global Style */
* {
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#day-section,
#night-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 20px;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: #000;
  cursor: pointer;
  padding: 10px 27px;
}

button:active {
  opacity: 0.8;
}

.circle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

h1 {
  font-size: 2.5rem;
  margin: 30px 0 10px;
  text-align: center;
}

.sun-moon-description,
.star-cloud-description {
  margin: 10px 0;
  text-align: center;
}

/* Backgrounds and Colors */
#day {
  background: linear-gradient(
    to bottom,
    rgb(56, 189, 248),
    rgb(147, 197, 253),
    rgb(254, 243, 199)
  );
  color: #000;
}

#night {
  background: linear-gradient(
    to bottom,
    rgb(30, 27, 75),
    rgb(88, 28, 135),
    rgb(49, 46, 129)
  );
  color: #fff;
}

/* Shapes (Sun, Moon, Clouds, Stars) */
#sun {
  background-color: #fff57b;
  transition: all 0.3s ease-in-out;
}

#moon {
  background-color: #e2e8f0;
  transition: all 0.3s ease-in-out;
}

.cloud-shape {
  height: 100px;
  aspect-ratio: 1.8;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  mask:
    var(--g) 100% 100%/30% 60%,
    var(--g) 70% 0/50% 100%,
    var(--g) 0 100%/36% 68%,
    var(--g) 27% 18%/26% 40%,
    linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  background: white;
}

.star-shape {
  width: 100px;
  aspect-ratio: 1;
  background: #f8ca00;
  clip-path: polygon(
    50% 0,
    calc(50% * (1 + sin(0.4turn))) calc(50% * (1 - cos(0.4turn))),
    calc(50% * (1 - sin(0.2turn))) calc(50% * (1 - cos(0.2turn))),
    calc(50% * (1 + sin(0.2turn))) calc(50% * (1 - cos(0.2turn))),
    calc(50% * (1 - sin(0.4turn))) calc(50% * (1 - cos(0.4turn)))
  );
}

.cloud,
.star {
  transition: all 0.3s ease-in-out;
}

.cloud:hover,
.star:hover,
.circle:hover {
  scale: 1.1;
}

.cloud p,
.star p {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  text-align: center;
  pointer-events: none;
}

.star p {
  top: 100%;
  left: 50%;
}

.cloud:hover p,
.star:hover p {
  opacity: 1;
  visibility: visible;
}

#cloud-introduction {
  position: absolute;
  top: 70%;
  left: 15%;
  animation: float 8s ease-in-out infinite;
}

#cloud-random-facts {
  position: absolute;
  top: 25%;
  left: 70%;
  animation: float 7s ease-in-out infinite;
}

#cloud-courses-taken {
  position: absolute;
  top: 40%;
  left: 30%;
  animation: float 6s ease-in-out infinite;
}

#star-badminton {
  position: absolute;
  top: 75%;
  left: 30%;
  animation: glimmer 5s infinite alternate;
}

#star-anime {
  position: absolute;
  top: 40%;
  left: 70%;
  animation: glimmer 5s infinite alternate;
}

#star-video-games {
  position: absolute;
  top: 15%;
  left: 15%;
  animation: glimmer 5s infinite alternate;
}

/* Modal (Popouts) */
.modal {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  opacity: 1;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 15px 30px;
  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content h2 {
  color: #000;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px 10px;
}

.modal-content p {
  color: #000;
  line-height: 24px;
  margin: 10px 0;
  text-align: left;
}

.modal-content ul,
.modal-content ol {
  color: black;
  padding: 0 20px;
  margin: 10px 0;
}

.modal-content li {
  padding: 5px 10px;
  list-style-type: circle;
}

/* Animations */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes glimmer {
  0%,
  100% {
    opacity: 1;
    filter: drop-shadow(0 0 5px #f8ca00);
  }
  50% {
    opacity: 0.4;
    filter: drop-shadow(0 0 2px #f8ca00);
  }
}
