* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  border-radius: 20px;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: #FFF;
  cursor: pointer;
  padding: 10px 25px;
}

button:active {
  opacity: 0.8;
}

#day {
  background-color: #89CFF0;
}

#night {
  background-color: #0F172A;
}

.circle {
  height: 500px;
  width: 500px;
  border-radius: 50%;
}

#sun {
  background-color: #FFF57B;
}

#moon {
  background-color:#E2E8F0
}

.cloud {
  height: 100px;
  aspect-ratio: 1.8;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  background: white;
}

.star {
  width: 100px;  
  aspect-ratio: 1;
  background: #F8CA00;
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
}

.modal {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  opacity: 1;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 15px 25px;
  text-align: center;
  width: 380px;
}

.modal-content h2 {
  margin: 0;
}

.modal-content p {
  line-height: 24px;
  margin: 10px 0;
}